body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.bHeader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    z-index: 101;
    background-color: rgb(240, 240, 240);
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bLogo {
    left: 1rem;
    top: 1.15rem;
    width: 16.5625rem;
    height: 2.1875rem;
    background-image: url('https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Logo.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.burger-icon {
    display: inline-block;
    cursor: pointer; 
}

.bar-1, .bar-2, .bar-3  {
    top: 0;
    width: 47px;
    height: 2px;
    background-color:red;
    margin: 6px 0;
    margin-right: 30px;
    transition: 0.5s;
}

 .change .bar-1 {
    transform: rotate(-45deg) translate(0px, 9px);
}
  
.change .bar-2 {opacity: 0;}
  
.change .bar-3 {
    transform: rotate(45deg) translate(0px, -9px);
}

.head-bar {
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    position: absolute;
}

#search-icon {
    position: absolute;
    left: 80%;
    /*vertical-align: middle; */
    background-color: #d3c9d1;
    padding-top: 1%;
    padding-right:0.2%;
    padding-left: 0.2%;
    padding-bottom: 0.1%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    align-self: flex-start;
}

#logo {
    position: absolute;
    left: 1%;
}

#logo img {
    height: 50px;
}

.search {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 30;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: none;
    transition: all 0.5s;
}

#search-close-button {
    position: absolute;
    color: white;
    top: 5%;
    left: 95%;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.search-container {
    width: 40%;
    /* left: 30%;
    top: 50%; */
    vertical-align: middle;
    position: absolute;
    line-height: 3rem;
}

#search-input {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    font-size: 2rem;
    color: white;
}

#submit-button {
    width: 10%;
    background-color: transparent;
    border: none;
}

.fancynav {
    display: flex;
    width: 72px;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 20;
    background-color:#303030;
    opacity: 1;
    align-items: center;
}

#side-menu {
    position: fixed;
    width: 20%;
    height:100vh;
    background-color: #303030;
    z-index: 19;
    color: #8b8b8b;
    right: -20%;
    display: flex;
    align-items: center;
    transition: all 0.5s linear;

}

#side-menu.active {
    right: 0px;
}

.side-menu-item {
    list-style: none;
    padding: 15px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.5s;
}

#x-icon {
    height: 2rem;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}

.xclusive-rotate:hover #x-icon{
    transform: rotate(125deg);
}

.side-menu-item:hover {
    color: white;
}

.main-page {
    /*
    width: calc(100% - 72px);
    */

    width: 100%;
}

.main-image{
    display: block;
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Landing%20Page/skydive-switzerland-fun-jumpers-swiss-flag-flying-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin: 0;
    position: relative;
    filter: grayscale(90%);

    /* parallax efect */

    background-attachment: fixed;
    background-repeat: no-repeat;
}

#title{
    font-size: 6rem;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display: block;
    top: 30%;
    z-index: 2;
    left: 10%;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#sub-title {
    font-size: 20px;
    position: absolute;
    background-color: transparent;
    display: block;
    left: 10%;
    color: white;
    top: 50%;
}

.red-box-1 {
    position: fixed;
    top: 15%;
    left: 0;
    height: 40px;
    width: 60px;
    z-index: 2;
    display: flex;
    background-color: red;
    filter: none;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.5s;
}

.red-box-1 .red-logo {
    margin-bottom: 7px;
}

.red-box-1:hover {
    width: 65px;
}

.red-logo {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.red-logo img {
    width: 30px;
}

.red-box-2 {
    position: fixed;
    top: 22%;
    left: 0;
    height: 40px;
    width: 60px;
    z-index: 2;
    display: flex;
    background-color: red;
    align-items: flex-end;
    transition: all 0.5s;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.red-box-2:hover {
    width: 65px;
}

#contact-form {
    display: none;
    z-index: 3;
    width: 100%;
    background-color: red;
    left: 0%;
    cursor: auto;
    align-self: flex-end;
    justify-content: space-around;
    transition: all 0.5s;
    flex-direction: column;
    align-items: center;  
}

#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#fname, #femail, #fsub {
    width: 100%;
    margin-bottom: 5px;
    line-height: 30px;
    border-radius: 5px;
}

#fsubject {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.button-submit {
    margin-bottom: 5px;
}

#close-form {
   margin: 5px; 
}

.separator {
    width: 100%;
    background-color: black;
    height: 1px;
}

.sec-page {
    /*width: calc(100% - 72px);*/
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 40px;
    transition: padding-bottom 0.2s linear;
}

.carousel-caption {
    display: flex;
    align-items: center;
}

 .container-of-captions {
    background-color:rgba(0,0,0,0.5);
    border-radius: 5px;
}

.description-title {
    font-size: 2rem;
}

.descricao-aparece {
    cursor: pointer;
}

.carousel-imagem {
    z-index: 1;
}

.image-description {
    display: none;
    position: absolute;
    bottom: 0%;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    z-index: 0;
    width: 77%;
    border-radius: 10px;
}

.description-image {
    max-height: 100px;
    margin: 10px;
}

#close-description {
    cursor: pointer;
}

#description-1 {
    display: none;
    text-align: center;
}

#description-2 {
    display: none;
    align-items: center;
    flex-direction: column;
}

#content-desc2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content-desc2 p {
    width: 40%;
}

#description-3 {
    display: none;
}


#footer {
    position: absolute;
    width: 100%;
    height: 10vh;
    z-index: 2;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-1 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook.png);
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-1:hover {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook_hover.png) ;
}

#logo-2 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin.png);
    background-size: cover;
    background-position: center;
    width: 41px;
    height: 5vh;
    max-height: 50px;
    margin: 10px;
    transition: all 0.5s;
}

#logo-2:hover {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin_hover.png);
}

#logo-3 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram.png);
    background-size: cover;
    background-position: center;
    width: 41px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-3:hover {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram_hover.png);
}

#logo-4 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter.png);
    background-size: cover;
    background-position: center;
    width: 41px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-4:hover {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter_hover.png);
}


@media (max-width: 1270px) {

    .photo-row {
        width: 40%;
    }

    #sub-title {
        font-size: 15px;
    }

    #side-menu {
        width: 30%;
        right: -30%;
    }

    #caption-row {
        width: 85%;
        margin-bottom: 10px;
    }

    .caption-1 {
        height: 50vh;
    }

    .caption-2 {
        height: 50vh;
    }
}

@media (max-width: 750px) {

    #title {
        font-size: 40px;
    }

    #logo img {
        height: 40px;
    }

    #search-icon {
        left: 75%;
    }

    #side-menu {
        width: 100%;
        right: -100%;
        justify-content: center;
    }

    .photo-row {
        width: 70vh;
    }

    #photo1 {
        margin-top: 20px;
        height: 40vh;
    }

    #photo2 {
        height: 53vh;
    }

    #caption-row {
        width: 85%;
    }

    .caption-1{
        height: 50vh;
    }

    .caption-2 {
        height: 50vh;
    }
}

