body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.head-bar {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  z-index: 101;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bLogo {
  margin-left: 1rem;
  display: block;
  width: 16.5625rem;
  height: 2.1875rem;
  background-image: url("https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  z-index: 101;
  transition: 0.4s;
}

.menu__hamburger {
  width: 40px;
  display: block;
  cursor: pointer;
  margin-right: 30px;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0, 1);
}

.bar-1,
.bar-2,
.bar-3 {
  top: 0;
  width: 32px;
  height: 2px;
  background-color: red;
  margin: 5px 0;
  margin-right: 10px;
  transition: 0.5s;
}

.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-2px, -6px);
}

#search-icon {
  position: absolute;
  left: 80%;
  /*vertical-align: middle; */
  background-color: #d3c9d1;
  padding-top: 1%;
  padding-right: 0.2%;
  padding-left: 0.2%;
  padding-bottom: 0.1%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  align-self: flex-start;
}

#logo {
  position: absolute;
  left: 1%;
}

#logo img {
  height: 50px;
}

.search {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 30;
  align-items: center;
  justify-content: center;
  background-color: black;
  display: none;
  transition: all 0.5s;
}

#search-close-button {
  position: absolute;
  color: white;
  top: 5%;
  left: 95%;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.search-container {
  width: 40%;
  /* left: 30%;
    top: 50%; */
  vertical-align: middle;
  position: absolute;
  line-height: 3rem;
}

#search-input {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 80%;
  font-size: 2rem;
  color: white;
}

#submit-button {
  width: 10%;
  background-color: transparent;
  border: none;
}

.fancynav {
  display: flex;
  width: 72px;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 20;
  background-color: #303030;
  opacity: 1;
  align-items: center;
}

#side-menu {
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: #f6f6f6;
  z-index: 19;
  color: #8b8b8b;
  right: -20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(44, 44, 44, 0.3);
  transition: all 0.5s linear;
}

#side-menu.active {
  right: 0px;
}

.side-menu-item {
  list-style: none;
  padding: 25px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.5s;
  text-align: center;
}

#x-icon {
  height: 2rem;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out 0s;
  transform-origin: center;
}

.xclusive-rotate:hover #x-icon {
  transform: rotate(135deg);
}

.side-menu-item:hover {
  text-decoration: none;
  color: red;
}

.main-page {
  width: 100%;
}

.main-image {
  display: block;
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Landing%20Page/skydive-switzerland-fun-jumpers-swiss-flag-flying-1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  margin: 0;
  position: relative;
  filter: grayscale(90%);

  /* parallax efect */

  background-attachment: fixed;
  background-repeat: no-repeat;
}

#title {
  font-family: 'Tajawal', sans-serif;
  font-size: 6rem;
  position: absolute;
  background-color: rgba(29, 29, 29, 0.5);
  display: block;
  top: 30%;
  z-index: 2;
  left: 10%;
  color: white;
  padding: 10px;
}

#sub-title {
  font-size: 20px;
  position: absolute;
  background-color: transparent;
  display: block;
  left: 10%;
  color: white;
  top: 50%;
}

.red-box-1 {
  position: fixed;
  top: 15%;
  left: 0;
  height: 37px;
  width: 70px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  background-color: red;
  filter: none;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

#newsfeed {
  display: none;
  z-index: 3;
  width: 100%;
  background-color: red;
  left: 0%;
  cursor: auto;
  align-self: flex-end;
  justify-content: space-around;
  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
}

#comment-area {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textarea {
  width: 100%;
  border-radius: 0.5rem;
  height: 5rem;
}

#comment-button {
  align-self: flex-end;
  margin-top: 20px;
  cursor: pointer;
}

#comment-button:hover {
  color: red;
}

.comment {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  border-bottom: 1px black solid;
  margin-bottom: 5px;
}

.comment-photo {
  width: 20%;
  height: 80%;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#comment-photo-1 {
  background-image: url("https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_960_720.png");
}

#comment-photo-2 {
  background-image: url("https://cdn4.iconfinder.com/data/icons/game-of-thrones-4/64/game_of_thrones_game_thrones_series_character_avatar_unburned_daenerys_dragons_queen-512.png");
}

#comment-photo-3 {
  background-image: url("https://cdn0.iconfinder.com/data/icons/professional-avatar-5/48/manager_male_avatar_men_character_professions-512.png");
}

.comment-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

.comment-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}

.comment-time {
    padding-right: 5px;
}

.comment-name {
  color: #e81e25;
}

#comment-close {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#comment-close:hover {
  background: rgb(240, 240, 240);
  color: #e81e25;
}

.red-box-1:hover {
  width: 65px;
}

.red-logo {
  cursor: pointer;
  margin-right: 5px;
  align-self: flex-end;
}

.red-logo img {
  margin-left: 55%;
  width: 25%;
}

.red-box-2 {
  position: fixed;
  top: 22%;
  left: 0;
  height: 37px;
  width: 70px;
  z-index: 2;
  display: flex;
  background-color: red;
  align-items: center;
  transition: all 0.5s;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.red-box-2:hover {
  width: 65px;
}

#contact-form {
  display: none;
  z-index: 3;
  width: 100%;
  background-color: red;
  left: 0%;
  cursor: auto;
  align-self: flex-end;
  justify-content: space-around;
  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#fname,
#femail,
#fsub {
  width: 100%;
  margin-bottom: 5px;
  line-height: 30px;
  border-radius: 5px;
}

#fsubject {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.button-submit {
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.button-submit:hover {
  color: red;
}

#close-form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#close-form:hover {
  background: rgb(240, 240, 240);
  color: #e81e25;
}

.separator {
  width: 100%;
  background-color: black;
  height: 1px;
}

.sec-page {
  /*width: calc(100% - 72px);*/
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 40px;
  /* transition: padding-bottom 0.2s linear; */
}

.carousel-caption {
  display: flex;
  align-items: center;
}

.container-of-captions {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.description-title {
  font-size: 2rem;
}

.descricao-aparece {
  cursor: pointer;
}

.carousel-imagem {
  z-index: 1;
}

.image-description {
  display: none;
  position: absolute;
  bottom: 0%;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  z-index: 0;
  width: 77%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description-image {
  max-height: 100px;
  margin: 10px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  height: 1px;
  }

.description-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.description-article-1 {
  height: 150px;
}

.article-title {
    font-size: 1rem;
}

.description-article-2 {
  height: 200px;
}

.description-article-2 img {
  max-width: 260px;
  height: 12rem;
  margin: 5px;
  border: 1px black solid;
}

.description-article-3 {
  height: 300px;
}

.description-article-3 img {
  max-width: 290px;
  height: 15rem;
  margin: 5px;
  border: 1px black solid;
}

.article {
  font-family: 'Tajawal', sans-serif;
  text-align: justify;
}

.description-article-1 img {
  max-width: 240px;
  height: 10rem;
  margin: 5px;
  border: 1px solid;
}

#close-description {
  cursor: pointer;
}

#description-1 {
  display: none;
  text-align: center;
}

#description-2 {
  display: none;
  align-items: center;
  flex-direction: column;
}

#content-desc2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#content-desc2 p {
  width: 40%;
}

#description-3 {
  display: none;
  align-items: center;
  flex-direction: column;
}

#footer {
  position: absolute;
  width: 100%;
  height: 10vh;
  z-index: 2;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-1 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 5vh;
  margin: 10px;
  transition: all 0.5s;
}

#logo-1:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook_hover.png);
}

#logo-2 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 5vh;
  max-height: 50px;
  margin: 10px;
  transition: all 0.5s;
}

#logo-2:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin_hover.png);
}

#logo-3 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 5vh;
  margin: 10px;
  transition: all 0.5s;
}

#logo-3:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram_hover.png);
}

#logo-4 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 5vh;
  margin: 10px;
  transition: all 0.5s;
}

#logo-4:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter_hover.png);
}

@media (max-width: 1270px) {

  #sub-title {
    font-size: 15px;
  }

  #side-menu {
    width: 30%;
    right: -30%;
  }
}

@media (max-width: 1000px) {

  .comment-content {
    font-size: 0.8rem;
  }
  
    .image-description {
        width: 90%;
       }
    
    .description-article-1 {
        height: 230px;
    }

    .description-article-2 {
        height: 250px;
    }

    .description-article-3 {
        height: 350px;
    }

}

@media (max-width: 850px) {
    .article {
        font-size: 0.8rem;
    }
}

@media (max-width: 750px) {
  #title {
    font-size: 40px;
  }

  #logo img {
    height: 40px;
  }

  #search-icon {
    left: 75%;
  }

  #side-menu {
    width: 100%;
    right: -100%;
    justify-content: center;
  }

  .description-article-3 img {
    height: 10rem;
}
}

@media (max-width: 700px) {
    .description-article-1 {
        height: 250px;
    }

    .description-article-2 {
        height: 300px;
    }

    .description-article-1 img {
        height: 8rem;
    }

    .description-article-2 img {
        height: 7rem;
    }
}

@media (max-width: 650px) {
    .description-article-3 {
        height: 375px;
    }
}
@media (max-width: 550px) {
    .image-description {
     width: 90%;
    }
}

@media (max-width: 600px) {

    .description-article-3 img {
        height: 7rem;
    }

    .description-article-3.article {
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {

    .description-article-1 {
        height: 300px;
    }

    .description-article-1 img {
        height: 7rem;
    }

    .article {
        font-size: 0.7rem;
    }

    .description-article-3 {
        height: 400px;
    }
}

@media (max-width: 500px) {
    #title {
      font-size: 3rem;
    }
  
    #sub-title {
      font-size: 1.5rem;
    }
  
    #search-icon {
      left: 75%;
    }
  
    #side-menu {
      width: 100%;
      right: -100%;
      justify-content: center;
    }

    .comment-content {
      font-size: 0.7rem;
    }
  }
  
  @media (max-width: 500px) {
    .bLogo {
      margin-left: 0.5rem;
      width: 16rem;
    }
    .menu__hamburger {
      margin-right: 0.5rem;
    }
    .container-opac {
      left: 20%;
      display: flex;
      align-items: center;
    }
  
    #title {
      font-size: 2rem;
    }
  
    #sub-title {
      font-size: 1rem;
    }
    #footer {
      width: 100%;
    }
  }
  
  @media (max-height: 600px) {
    .red-box-2 {
      top: 25%;
    }

    .article {
        font-size: 0.5rem;
    }
    
  }
  