body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

/* Victoria this is to copy  */

.head-bar {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  z-index: 101;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bLogo {
  margin-left: 1rem;
  display: block;
  width: 16.5625rem;
  height: 2.1875rem;
  background-image: url("https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  z-index: 101;
  transition: 0.4s;
}

.menu__hamburger {
  width: 40px;
  display: block;
  cursor: pointer;
  margin-right: 30px;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0, 1);
}

.bar-1,
.bar-2,
.bar-3 {
  top: 0;
  width: 32px;
  height: 2px;
  background-color: red;
  margin: 5px 0;
  margin-right: 10px;
  transition: 0.5s;
}

.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-2px, -6px);
}

/* Until Here  */

.burger-icon {
  display: inline-block;
  cursor: pointer;
}

#logo {
  position: absolute;
  left: 1%;
}

#logo img {
  height: 50px;
}

/* To copy  */

#side-menu {
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: #f6f6f6;
  z-index: 19;
  color: #8b8b8b;
  right: -20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(44, 44, 44, 0.3);
  transition: all 0.5s linear;
}

#side-menu.active {
  right: 0px;
}

.side-menu-item {
  list-style: none;
  padding: 25px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.5s;
  text-align: center;
}

#x-icon {
  height: 2rem;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out 0s;
  transform-origin: center;
}

.xclusive-rotate:hover #x-icon {
  transform: rotate(135deg);
}

.side-menu-item:hover {
  text-decoration: none;
  color: red;
}

/* Until here  */

.main-page {
  display: flex;
  width: 100%;
}

.main-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/electric-locomotive-3129445_1920.jpg');
  height: 100vh;
  margin: 0;
  position: relative;
  background-size: cover;
  filter: grayscale(90%);

  /* parallax efect */

  background-attachment: fixed;
  background-repeat: no-repeat;
}

#titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgba(29, 29, 29, 0.5);
  transform: translateY(300px);
  opacity: 0;
  transition: 1s all;
}

.title-xclusive {
  color: white;
}

#title1 {
  font-family: 'Tajawal', sans-serif;
  font-size: 5rem;
}

#title2 {
  font-family: 'Tajawal', sans-serif;
  font-size: 3rem;
  opacity: 0;

  overflow: hidden;
  border-right: 0.15em solid red;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5.5s steps(80, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}


.red-box-1 {
  position: fixed;
  top: 15%;
  left: 0;
  height: 37px;
  width: 70px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  background-color: red;
  filter: none;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

#newsfeed {
  display: none;
  z-index: 3;
  width: 100%;
  background-color: red;
  left: 0%;
  cursor: auto;
  align-self: flex-end;
  justify-content: space-around;
  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
}

#comment-area {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textarea {
  font-family: "Tajawal", sans-serif;
  width: 100%;
  border-radius: 0.5rem;
  height: 5rem;
}

#comment-button {
  align-self: flex-end;
  margin-top: 20px;
  font-family: "Tajawal", sans-serif;
  cursor: pointer;
}

#comment-button:hover {
  color: red;
}

.comment {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  border-bottom: 1px black solid;
  margin-bottom: 5px;
}

.comment-photo {
  width: 20%;
  height: 80%;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#comment-photo-1 {
  background-image: url("https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_960_720.png");
}

#comment-photo-2 {
  background-image: url("https://cdn4.iconfinder.com/data/icons/game-of-thrones-4/64/game_of_thrones_game_thrones_series_character_avatar_unburned_daenerys_dragons_queen-512.png");
}

#comment-photo-3 {
  background-image: url("https://cdn0.iconfinder.com/data/icons/professional-avatar-5/48/manager_male_avatar_men_character_professions-512.png");
}

.comment-info {
  font-family: "Tajawal", sans-serif;
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

.comment-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}

.comment-time {
  font-family: "Tajawal", sans-serif;
  padding-right: 5px;
}

.comment-name {
  font-family: "Tajawal", sans-serif;
  color: #e81e25;
}

#comment-close {
  font-family: "Tajawal", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#comment-close:hover {
  background: rgb(240, 240, 240);
  color: #e81e25;
}

.red-box-1:hover {
  width: 65px;
}

.red-logo {
  cursor: pointer;
  margin-right: 5px;
  align-self: flex-end;
}

.red-logo img {
  width: 25%;
  margin-left: 55%;
}

.red-box-2 {
  position: fixed;
  top: 22%;
  left: 0;
  height: 37px;
  width: 70px;
  z-index: 2;
  display: flex;
  background-color: red;
  align-items: center;
  transition: all 0.5s;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.red-box-2:hover {
  width: 65px;
}

#contact-form {
  display: none;
  z-index: 3;
  width: 100%;
  background-color: red;
  left: 0%;
  cursor: auto;
  align-self: flex-end;
  justify-content: space-around;
  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#fname,
#femail,
#fsub {
  font-family: "Tajawal", sans-serif;
  width: 100%;
  margin-bottom: 5px;
  line-height: 30px;
  border-radius: 5px;
}

#fsubject {
  font-family: "Tajawal", sans-serif;
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.button-submit {
  font-family: "Tajawal", sans-serif;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.button-submit:hover {
  color: red;
}

#close-form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#close-form:hover {
  background: rgb(240, 240, 240);
  color: #e81e25;
}

.separator {
  width: 100%;
  background-color: black;
  height: 1px;
}

#footer {
  position: absolute;
  width: 100%;
  height: 10vh;
  z-index: 2;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-1 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 5vh;
  margin: 10px;
  transition: all 0.5s;
}

#logo-1:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook_hover.png);
}

#logo-2 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 5vh;
  max-height: 50px;
  margin: 10px;
  transition: all 0.5s;
}

#logo-2:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin_hover.png);
}

#logo-3 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 5vh;
  margin: 10px;
  transition: all 0.5s;
}

#logo-3:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram_hover.png);
}

#logo-4 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 5vh;
  margin: 10px;
  transition: all 0.5s;
}

#logo-4:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter_hover.png);
}

@media (max-width: 1270px) {
  .photo-row {
    width: 40%;
  }

  #sub-title {
    font-size: 15px;
  }

  #side-menu {
    width: 30%;
    right: -30%;
  }

  #caption-row {
    width: 85%;
    margin-bottom: 10px;
  }

  .caption-1 {
    height: 50vh;
  }

  .caption-2 {
    height: 50vh;
  }
}

@media (max-width: 1000px) {
  .comment-content {
    font-size: 0.8rem;
  }
}

@media (max-width: 750px) {

  #logo img {
    height: 40px;
  }

  #side-menu {
    width: 100%;
    right: -100%;
    justify-content: center;
  }
}

@media (max-width: 700px) {

}

@media (max-width: 500px) {
  .comment-content {
    font-size: 0.7rem;
  }
}

@media (max-width: 1200px) {
  #title2 {
    font-size: 2rem;
  }
  }
  
  @media (max-width: 850px) {
  
    #title1 {
      font-size: 3rem;
    }
  
    #title2 {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 650px) {
    #title1 {
      font-size: 2rem;
    }
    #title2 {
      font-size: 1rem;
    }
  }
  @media (max-width: 500px) {
    #title1 {
      font-size: 1rem;
    }
    #title2 {
      font-size: 0.5rem;
    }
  }