body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.head-bar {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  z-index: 101;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bLogo {
  margin-left: 1rem;
  display: block;
  width: 16.5625rem;
  height: 2.1875rem;
  background-image: url("https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  z-index: 101;
  transition: 0.4s;
}

.menu__hamburger {
  width: 40px;
  display: block;
  cursor: pointer;
  margin-right: 30px;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0, 1);
}

#search-icon {
  position: absolute;
  left: 80%;
  background-color: #d3c9d1;
  padding-top: 1%;
  padding-right: 0.2%;
  padding-left: 0.2%;
  padding-bottom: 0.1%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  align-self: flex-start;
}

#logo {
  position: absolute;
  left: 1%;
}

#logo img {
  height: 5vh;
}

.search {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 30;
  align-items: center;
  justify-content: center;
  background-color: black;
  display: none;
  opacity: 0;
  transition: opa 0.5s;
}

#search-close-button {
  position: absolute;
  color: white;
  top: 5%;
  left: 95%;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.search-container {
  width: 40%;
  /* left: 30%;
    top: 50%; */
  vertical-align: middle;
  position: absolute;
  line-height: 3rem;
}

#search-input {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 80%;
  font-size: 2rem;
  color: white;
}

#submit-button {
  width: 10%;
  background-color: transparent;
  border: none;
}

.bar-1,
.bar-2,
.bar-3 {
  top: 0;
  width: 32px;
  height: 2px;
  background-color: red;
  margin: 5px 0;
  margin-right: 10px;
  transition: 0.5s;
}

.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-2px, -6px);
}

#side-menu {
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: #f6f6f6;
  z-index: 19;
  color: #8b8b8b;
  right: -20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(44, 44, 44, 0.3);
  transition: all 0.5s linear;
}

#side-menu.active {
  right: 0px;
}

.side-menu-item {
  list-style: none;
  padding: 25px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.5s;
  text-align: center;
}

.side-menu-item a {
  text-decoration: none;
}

#x-icon {
  height: 2rem;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out 0s;
  transform-origin: center;
}

.xclusive-rotate:hover #x-icon {
  transform: rotate(135deg);
}

.side-menu-item:hover {
  text-decoration: none;
  color: red;
}

.main-page {
  width: 100%;
}

.main-image {
  display: block;
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Landing%20Page/zermatt-2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  margin: 0;
  position: relative;
  filter: grayscale(90%);

  /* parallax efect */

  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container-opac {
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  top: 10%;
  left: 5%;
  opacity: 0;
  transition: all 2s;
}

#title {
  font-size: 5rem;
  display: block;
  top: 0%;
  z-index: 2;
  color: white;
}

#sub-title {
  font-size: 3rem;
  display: block;
  color: white;
}

.red-box-1 {
  position: fixed;
  top: 15%;
  left: 0;
  height: 40px;
  width: 60px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  background-color: red;
  filter: none;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.5s;
}

#newsfeed {
  display: none;
  z-index: 3;
  width: 100%;
  background-color: red;
  left: 0%;
  cursor: auto;
  align-self: flex-end;
  justify-content: space-around;
  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
}

#comment-area {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textarea {
  width: 100%;
  border-radius: 0.5rem;
  height: 5rem;
}

#comment-button {
  align-self: flex-end;
  margin-top: 20px;
  cursor: pointer;
}

#comment-button:hover {
  color: red;
}

.comment {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  border-bottom: 1px black solid;
  margin-bottom: 5px;
}

.comment-photo {
  width: 20%;
  height: 80%;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#comment-photo-1 {
  background-image: url("https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_960_720.png");
}

#comment-photo-2 {
  background-image: url("https://cdn4.iconfinder.com/data/icons/game-of-thrones-4/64/game_of_thrones_game_thrones_series_character_avatar_unburned_daenerys_dragons_queen-512.png");
}

#comment-photo-3 {
  background-image: url("https://cdn0.iconfinder.com/data/icons/professional-avatar-5/48/manager_male_avatar_men_character_professions-512.png");
}

.comment-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

.comment-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}

.comment-name {
  color: #e81e25;
}

.comment-time {
  padding-right: 5px;
}

#comment-close {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#comment-close:hover {
  background: rgb(240, 240, 240);
  color: #e81e25;
}

.red-box-1 .red-logo {
  margin-bottom: 7px;
}

.red-box-1:hover {
  width: 65px;
}

.red-logo {
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  align-self: flex-end;
}

.red-logo img {
  width: 30px;
}

.red-box-2 {
  position: fixed;
  top: 22%;
  left: 0;
  height: 40px;
  width: 60px;
  z-index: 2;
  display: flex;
  background-color: red;
  align-items: flex-end;
  transition: all 0.5s;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.red-box-2:hover {
  width: 65px;
}

#contact-form {
  display: none;
  z-index: 3;
  width: 100%;
  background-color: red;
  left: 0%;
  cursor: auto;
  align-self: flex-end;
  justify-content: space-around;
  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#fname,
#femail,
#fsub {
  width: 100%;
  margin-bottom: 5px;
  line-height: 30px;
  border-radius: 5px;
}

#fsubject {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.button-submit {
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.button-submit:hover {
  color: red;
}

#close-form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#close-form:hover {
  background: rgb(240, 240, 240);
  color: #e81e25;
}

.separator {
  width: 100%;
  background-color: black;
  height: 1px;
}

.photostand {
  z-index: 0;
  background-color: white;
  position: relative;
  background-size: cover;
  background-position: center center;
  /* width: calc(100% - 72px); */
  width: 100%;
  min-height: 30vw;

  /* parallax effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.photo-row {
  z-index: 3;
  width: 30%;
  position: relative;
}

#photo1 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Landing%20Page/skydive-switzerland-fun-jumpers-swiss-flag-flying-1.jpg);
  background-size: cover;
  background-position: center;
  height: 25vw;
  border: black 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#photo2 {
  background-image: url(https://switzerland-tour.com/images/sliders/excurs/lavey-top/1.jpg);
  background-size: cover;
  background-position: center;
  height: 25vw;
  border: black 1px solid;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-row-text {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 40;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
}

.pic-button {
  cursor: pointer;
  display: none;
  position: relative;
  transition: all 0.5s;
  margin-top: auto;
}

.pic-button img {
  height: 30px;
}

.photo-title {
  color: white;
  font-size: 250%;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

.text-hover {
  width: 100%;
  height: 100%;
}

.text-hover:hover {
  background-color: black;
  opacity: 0.8;
}

.text-hover:hover .pic-button {
  opacity: 1;
  display: inline;
  text-decoration: none;
}

.pic-button:hover {
  transform: scale(2) rotate(360deg);
}

#caption-row {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#photo3 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/electric-locomotive-3129445_1920.jpg);
  background-size: cover;
  background-position: center;
  height: 12vw;
  margin-bottom: 20px;
  border: 0.2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#photo4 {
  background-image: url(https://snbchf.com/wp-content/uploads/2016/05/swiss-culture.jpg);
  background-size: cover;
  background-position: center;
  height: 12vw;
  border: 0.2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caption-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
}

#footer {
  position: absolute;
  width: 100%;
  height: 10vh;
  z-index: 2;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-1 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 5vh;
  margin: 10px;
  transition: all 0.5s;
}

#logo-1:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook_hover.png);
}

#logo-2 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 5vh;
  max-height: 50px;
  margin: 10px;
  transition: all 0.5s;
}

#logo-2:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin_hover.png);
}

#logo-3 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 5vh;
  margin: 10px;
  transition: all 0.5s;
}

#logo-3:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram_hover.png);
}

#logo-4 {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 5vh;
  margin: 10px;
  transition: all 0.5s;
}

#logo-4:hover {
  background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter_hover.png);
}

@media (max-width: 1270px) {
  .photo-row {
    width: 40%;
  }

  #sub-title {
    font-size: 2rem;
  }

  #side-menu {
    width: 30%;
    right: -30%;
  }

  #caption-row {
    width: 100%;
    margin-bottom: 10px;
    flex-direction: row;
  }

  #photo3 {
    width: 40%;
    height: 25vw;
    margin-right: 2%;
  }

  #photo4 {
    width: 40%;
    height: 25vw;
  }

  #sub-title {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .comment-content {
    font-size: 0.8rem;
  }
}

@media (max-width: 750px) {
  #title {
    font-size: 3rem;
  }

  #search-icon {
    left: 75%;
  }

  #side-menu {
    width: 100%;
    right: -100%;
    justify-content: center;
  }

  .photo-row {
    width: 70%;
  }

  #photo1 {
    margin-top: 20px;
    height: 40vh;
  }

  #photo2 {
    height: 53vh;
  }

  #caption-row {
    width: 85%;
  }

  #newsfeed {
    left: -60%;
  }
}

@media (max-width: 500px) {
  #title {
    font-size: 3rem;
  }

  #sub-title {
    font-size: 1.5rem;
  }

  #search-icon {
    left: 75%;
  }

  #side-menu {
    width: 100%;
    right: -100%;
    justify-content: center;
  }

  .photo-row {
    width: 80%;
  }

  #photo1 {
    margin-top: 20px;
    height: 40vh;
  }

  #photo2 {
    height: 53vh;
  }

  #caption-row {
    width: 80%;
    flex-direction: column;
  }

  #photo3,
  #photo4 {
    width: 100%;
    height: 40vh;
  }
}

@media (max-width: 500px) {
  .bLogo {
    margin-left: 0.5rem;
    width: 16rem;
  }
  .menu__hamburger {
    margin-right: 0.5rem;
  }
  .container-opac {
    left: 20%;
    display: flex;
    align-items: center;
  }

  #title {
    font-size: 2rem;
  }

  #sub-title {
    font-size: 1rem;
  }
  #footer {
    width: 100%;
  }
}

@media (max-height: 600px) {
  .red-box-2 {
    top: 25%;
  }
}
