body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.head-bar {
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
}

#search-icon {
    position: absolute;
    left: 80%;
    background-color: #d3c9d1;
    padding-top: 1%;
    padding-right:0.2%;
    padding-left: 0.2%;
    padding-bottom: 0.1%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    align-self: flex-start;
}

#logo {
    position: absolute;
    left: 1%;
}

#logo img {
    height: 50px;
}

.search {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 30;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: none;
    transition: all 0.5s;
}

#search-close-button {
    position: absolute;
    color: white;
    top: 5%;
    left: 95%;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.search-container {
    width: 40%;
    /* left: 30%;
    top: 50%; */
    vertical-align: middle;
    position: absolute;
    line-height: 3rem;
}

#search-input {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    font-size: 2rem;
    color: white;
}

#submit-button {
    width: 10%;
    background-color: transparent;
    border: none;
}

.fancynav {
    display: flex;
    width: 72px;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 20;
    background-color:#303030;
    opacity: 1;
    align-items: center;
}

#side-menu {
    position: fixed;
    width: 20%;
    height: 100vh;
    background-color: #303030;
    z-index: 19;
    color: #8b8b8b;
    right: -20%;
    display: flex;
    align-items: center;
    transition: all 0.5s linear;

}

#side-menu.active {
    right: 0px;
}

.side-menu-item {
    list-style: none;
    padding: 15px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.5s;
}

.side-menu-item a {
    text-decoration: none;
}

#x-icon {
    height: 2rem;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}

.xclusive-rotate:hover #x-icon{
    transform: rotate(125deg);
}

.side-menu-item:hover {
    text-decoration: none;
    color: white;
}

.main-page {
    width: calc(100% - 72px);
}

.main-image{
    display: block;
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Landing%20Page/zermatt-2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin: 0;
    position: relative;
    filter: grayscale(90%);

    /* parallax efect */

    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container-opac{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 70%;
    background-color:rgba(0,0,0,0.6);
    border-radius: 5px;
    top: 30%;
    left: 5%;
}


#title{
    font-size: 60px;
    display: block;
    top: 0%;
    z-index: 2;
    color: white;
}

#sub-title {
    font-size: 20px;
    display: block;
    color: white;
}

.red-box-1 {
    position: fixed;
    top: 15%;
    left: 0;
    height: 40px;
    width: 60px;
    z-index: 2;
    display: flex;
    background-color: red;
    filter: none;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.5s;
}

.red-box-1 .red-logo {
    margin-bottom: 7px;
}

.red-box-1:hover {
    width: 65px;
}

.red-logo {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.red-logo img {
    width: 30px;
}

.red-box-2 {
    position: fixed;
    top: 22%;
    left: 0;
    height: 40px;
    width: 60px;
    z-index: 2;
    display: flex;
    background-color: red;
    align-items: flex-end;
    transition: all 0.5s;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.red-box-2:hover {
    width: 65px;
}

#contact-form {
    display: none;
    z-index: 3;
    width: 100%;
    background-color: red;
    left: 0%;
    cursor: auto;
    align-self: flex-end;
    justify-content: space-around;
    transition: all 0.5s;
    flex-direction: column;
    align-items: center;  
}

#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#fname, #femail, #fsub {
    width: 100%;
    margin-bottom: 5px;
    line-height: 30px;
    border-radius: 5px;
}

#fsubject {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.button-submit {
    margin-bottom: 5px;
}

#close-form {
   margin: 5px; 
}

.separator {
    width: 100%;
    background-color: black;
    height: 1px;
}

.photostand {
    z-index: 0;
    /*background-image: url(http://getwallpapers.com/wallpaper/full/2/e/d/1131769-switzerland-wallpaper-1920x1080-screen.jpg);*/
    background-color: white;
    position: relative;
    background-size: cover;
    background-position: center center;
    width: calc(100% - 72px);
    min-height: 30vw;

    /* parallax effect */
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.photo-row {
    z-index: 3;
    width: 30%;
    position: relative;
}

#photo1 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Landing%20Page/skydive-switzerland-fun-jumpers-swiss-flag-flying-1.jpg);
    background-size: cover;
    background-position: center;
    height: 25vw;
    border: black 1px solid;
}

#photo2 {
    background-image: url(https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1477291157000/photosp/592561ca-a07b-48b7-8172-2d10a8741c6e/stock-photo-rain-blue-clouds-pool-swiss-alps-switzerland-relax-alps-villahonegg-592561ca-a07b-48b7-8172-2d10a8741c6e.jpg);  
    background-size: cover;
    background-position: center;
    height: 25vw;
    border: black 1px solid;
    margin: 20px;
}

.photo-row-text {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 40;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
}

.pic-button {
    cursor: pointer;
    display: none;
    position: relative;
    transition: all 0.5s;
    margin-top: auto;
}

.pic-button img {
    height: 30px;
}

.photo-title {
    color: white;
    font-size: 250%;
    margin-top: auto;
    background-color: rgba(0,0,0,0.4);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.text-hover {
    width: 100%;
    height: 100%;
}

.text-hover:hover{
    background-color: black;
    opacity: 0.8;
}

.text-hover:hover .pic-button{
    opacity: 1;
    display: inline;
    text-decoration: none;
}

.pic-button:hover {
    transform: scale(2) rotate(360deg);
}

#caption-row {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#photo3 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/electric-locomotive-3129445_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 12vw;
    margin-bottom: 20px;
    border: 0.2px solid black;
}

#photo4 {
    background-image: url(https://snbchf.com/wp-content/uploads/2016/05/swiss-culture.jpg);
    background-size: cover;
    background-position: center;
    height: 12vw;
    border: 0.2px solid black;
}

.caption-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
}

.burger-icon {
    display: inline-block;
    cursor: pointer; 
}

.bar-1, .bar-2, .bar-3  {
    top: 0;
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    margin-left: 15px;
    transition: 0.5s;
}

 .change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar-2 {opacity: 0;}
  
  .change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);

  }

#footer {
    position: absolute;
    width: 95%;
    height: 10vh;
    z-index: 2;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-1 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-1:hover {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/facebook_hover.png) ;
}

#logo-2 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 41px;
    height: 5vh;
    max-height: 50px;
    margin: 10px;
    transition: all 0.5s;
}

#logo-2:hover {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/linkedin_hover.png);
}

#logo-3 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 41px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-3:hover {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/instagram_hover.png);
}

#logo-4 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 41px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-4:hover {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Imagens/Footer/twitter_hover.png);
}

@media (max-width: 1270px) {

    .photo-row {
        width: 40%;
    }

    #sub-title {
        font-size: 15px;
    }

    #side-menu {
        width: 30%;
        right: -30%;
    }

    #caption-row {
        width: 85%;
        margin-bottom: 10px;
    }

   #photo3, #photo4 {
        height: 50vh;
    }

    .caption-2 {
        height: 50vh;
    }
}

@media (max-width: 750px) {

    #title {
        font-size: 40px;
    }

    #logo img {
        height: 40px;
    }

    #search-icon {
        left: 75%;
    }

    #side-menu {
        width: 100%;
        right: -100%;
        justify-content: center;
    }

    .photo-row {
        width: 70vh;
    }

    #photo1 {
        margin-top: 20px;
        height: 40vh;
    }

    #photo2 {
        height: 53vh;
    }

    #caption-row {
        width: 85%;
    }

    #photo3, #photo4 {
        height: 50vh;
    }
    
}