body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.bHeader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    z-index: 101;
    background-color: rgb(240, 240, 240);
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bLogo {
    left: 1rem;
    top: 1.15rem;
    width: 16.5625rem;
    height: 2.1875rem;
    background-image: url('https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/Logo.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.burger-icon {
    display: inline-block;
    cursor: pointer; 
}

.bar-1, .bar-2, .bar-3  {
    top: 0;
    width: 47px;
    height: 2px;
    background-color:red;
    margin: 6px 0;
    margin-right: 30px;
    transition: 0.5s;
}

.change .bar-1 {
    transform: rotate(-45deg) translate(0px, 9px);
}
  
.change .bar-2 {opacity: 0;}
  
.change .bar-3 {
    transform: rotate(45deg) translate(0px, -9px);
}

#logo {
    position: absolute;
    left: 1%;
}

#logo img {
    height: 50px;
}


#side-menu {
    position: fixed;
    width: 20%;
    height:100vh;
    background-color: #303030;
    z-index: 19;
    color: #8b8b8b;
    right: -20%;
    display: flex;
    align-items: center;
    transition: all 0.5s linear;

}

#side-menu.active {
    right: 0px;
}

.side-menu-item {
    list-style: none;
    padding: 15px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.5s;
}

#x-icon {
    height: 2rem;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}

.xclusive-rotate:hover #x-icon{
    transform: rotate(125deg);
}

.side-menu-item:hover {
    color: white;
}

.main-page {
    display: flex;
    width: 100%;

}

.main-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;
    margin: 0;
    position: relative;

    /* parallax efect */

    background-attachment: fixed;
    background-repeat: no-repeat;
}

#title{
    font-size: 3rem;

    z-index: 2;
    left: 10%;
    color: black;
}

.container-of-photos {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-of-us {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.photo {
    width: 70%;
    height: 70%;
    border: solid 1px black;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#goncalo {
    background-image: url(https://cdn.pixabay.com/photo/2016/04/01/10/11/avatar-1299805_960_720.png);
}

#map {
    width: 80%;
    height: 40vh;
    border: 5px black solid;
}


.red-box-1 {
    position: fixed;
    top: 15%;
    left: 0;
    height: 40px;
    width: 60px;
    z-index: 2;
    display: flex;
    background-color: red;
    filter: none;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.5s;
}

.red-box-1 .red-logo {
    margin-bottom: 7px;
}

.red-box-1:hover {
    width: 65px;
}

.red-logo {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.red-logo img {
    width: 30px;
}

.red-box-2 {
    position: fixed;
    top: 22%;
    left: 0;
    height: 40px;
    width: 60px;
    z-index: 2;
    display: flex;
    background-color: red;
    align-items: flex-end;
    transition: all 0.5s;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.red-box-2:hover {
    width: 65px;
}

#contact-form {
    display: none;
    z-index: 3;
    width: 100%;
    background-color: red;
    left: 0%;
    cursor: auto;
    align-self: flex-end;
    justify-content: space-around;
    transition: all 0.5s;
    flex-direction: column;
    align-items: center;  
}

#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#fname, #femail, #fsub {
    width: 100%;
    margin-bottom: 5px;
    line-height: 30px;
    border-radius: 5px;
}

#fsubject {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.button-submit {
    margin-bottom: 5px;
}

#close-form {
   margin: 5px; 
}

.separator {
    width: 100%;
    background-color: black;
    height: 1px;
}

#footer {
    position: absolute;
    width: 95%;
    height: 10vh;
    z-index: 2;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-1 {
    background-image: url(https://trello-attachments.s3.amazonaws.com/5da19c044024da38a58e8b14/42x78/883e1ca7fbb9396df31ab62a3cd42b8d/facebook.png);
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-1:hover {
    background-image: url(https://trello-attachments.s3.amazonaws.com/5da19c044024da38a58e8b14/42x78/150be7b44ad787436ccf3f00e01baaa0/facebook_hover.png) ;
}

#logo-2 {
    background-image: url(https://trello-attachments.s3.amazonaws.com/5da19c044024da38a58e8b14/78x78/008717ff9d97cf279a5c59df127144b9/linkedin.png);
    background-size: cover;
    background-position: center;
    width: 41px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-2:hover {
    background-image: url(https://trello-attachments.s3.amazonaws.com/5da19c044024da38a58e8b14/78x78/19405d67dd05366ffcfc377d6c5847eb/linkedin_hover.png);
}

#logo-3 {
    background-image: url(https://trello-attachments.s3.amazonaws.com/5da19c044024da38a58e8b14/78x78/1e4ec2a950905469f80d49f43fd30099/instagram.png);
    background-size: cover;
    background-position: center;
    width: 41px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-3:hover {
    background-image: url(https://trello-attachments.s3.amazonaws.com/5da19c044024da38a58e8b14/78x78/241edceaa745d5f51e516510720e1f9f/instagram_hover.png);
}

#logo-4 {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/twitter.png);
    background-size: cover;
    background-position: center;
    width: 41px;
    height: 5vh;
    margin: 10px;
    transition: all 0.5s;
}

#logo-4:hover {
    background-image: url(https://raw.githubusercontent.com/silviaalexasilva/swisscheeseblog/master/twitter_hover.png);
}


@media (max-width: 1270px) {

    .photo-row {
        width: 40%;
    }

    #sub-title {
        font-size: 15px;
    }

    #side-menu {
        width: 30%;
        right: -30%;
    }

    #caption-row {
        width: 85%;
        margin-bottom: 10px;
    }

    .caption-1 {
        height: 50vh;
    }

    .caption-2 {
        height: 50vh;
    }
}

@media (max-width: 750px) {

    #title {
        font-size: 40px;
    }

    #logo img {
        height: 40px;
    }

    #search-icon {
        left: 75%;
    }

    #side-menu {
        width: 100%;
        right: -100%;
        justify-content: center;
    }

    .photo-row {
        width: 70vh;
    }

    #photo1 {
        margin-top: 20px;
        height: 40vh;
    }

    #photo2 {
        height: 53vh;
    }

    #caption-row {
        width: 85%;
    }

    .caption-1{
        height: 50vh;
    }

    .caption-2 {
        height: 50vh;
    }
}

